@import "tailwindcss";

@theme {
  --color-sky-400: #38bdf8;
  --color-indigo-400: #818cf8;
  --color-emerald-400: #34d399;
  --color-rose-500: #f43f5e;
}

/* Custom Scrollbar for better aesthetics */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #1e293b; 
}
::-webkit-scrollbar-thumb {
  background: #475569; 
  border-radius: 4px;
}
::-webkit-scrollbar-thumb:hover {
  background: #64748b; 
}

body {
    /* bg-slate-900 text-slate-50 */
    background-color: #0f172a; 
    color: #f8fafc;
}
